<h1>Login</h1>

<main>

	<form method='POST' action='/api/sessions/login' id='formLogin'>
		<label for='email'>Email</label>
		<input type='email' name='email' required />

		<label for='password'>Password</label>
		<input type='password' name='password' required />

		<button type='submit'>Log In</button>
	</form>
	<p>¿No tienes una cuenta? <a href='http://localhost:8080/static/register'>Regístrate</a></p>

</main>