<h1>Login</h1>

<main>

	<form id='formLogin'>
		<label for='email'>Email</label>
		<input type='email' name='email' required />

		<label for='password'>Password</label>
		<input type='password' name='password' required />

		<button type='submit'>Log In</button>
	</form>

</main>