<h1>Products</h1>
<h2 id='bienvenida'></h2>

<section id='products-container'></section>
<section class='pagination'>
	<button id='prev-page-button'>Prev</button>
	<span id='page-number'></span>
	<button id='next-page-button'>Next</button>
</section>