<h1>Registrate</h1>

<main>

	<form method='POST' action='http://localhost:8080/api/users' id='formRegister'>

		<label for='first_name'>Nombre</label>
		<input type='text' name='first_name' required />

		<label for='last_name'>Apellido</label>
		<input type='text' name='last_name' required />

		<label for='age'>Edad</label>
		<input type='number' name='age' required />

		<label for='email'>Email</label>
		<input type='email' name='email' required />

		<label for='password'>Password</label>
		<input type='password' name='password' required />

		<button type='submit'>Registrarse</button>
	</form>

</main>