body {
	margin: 24px;
}

.product-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 400px;
}

.pagination {
	display: flex;
	align-items: center;
	gap: 10px;
}

button {
	width: 120px;
	height: 60px;
	margin-bottom: 12px;
}

.add-button {
	width: 100px;
	height: 40px;
}
