main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
	width: 100vw;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 400px;
	padding: 20px 20px 0 20px;
	border: 1px solid black;
}

form input {
	margin: 4px 0;
}

form button {
	margin: 20px auto;
	width: 150px;
	height: 40px;
}
