<nav style='margin: 0; padding: 0'>
	<ul style='margin: 8px; padding: 0; display: flex; gap: 20px; list-style: none'>
		<li><a href='http://localhost:8080/static/'>Home</a></li>
		<li><a href='http://localhost:8080/static/realtimeproducts'>Crear producto</a></li>
	</ul>
</nav>

{{! en partials se crean los elementos o partes que se repiten en todas las vistas }}