<html lang='en'>{{!  ARCHIVO BASE }}
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
    <link rel="stylesheet" href="./css/{{rutaCSS}}.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.23/dist/sweetalert2.min.css">

	</head>
	<body>
    {{>nav}}
		{{{body}}}
		{{! esto es lo que se va a modificar con mis plantilas, va a ir cambiando de acuerdo a qué plantilla quiera mostrar en el body }}
    {{>footer}}

    {{!-- nav y footer son partials, se van a repetir --}}
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"
        integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.23/dist/sweetalert2.all.min.js"></script>
    <script src="js/{{rutaJS}}.js"></script>
  </body>
</html>